.upload-box {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
  }
  
  .drag-drop-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    height: 150px;
    margin: 20px auto;
    padding: 20px;
    border: 2px dashed #B8D8E2;
    border-radius: 10px;
    background-color: #f0f4f8;
    text-align: center;
    color: #636363;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .drag-drop-area.active {
    background-color: #e1f7ff;
    border-color: #007bff;
  }
  
  
  .browse-files-button {
    padding: 15px 23px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #ADD9E6;
    font-size: 13px;
    margin: 12px 4px;
    font-weight: bold;
  }

  .upload-button-1 {
    padding: 15px 23px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #666;
    background-color: #B8D8E2;
    font-size: 13px;
    margin: 10px 10px;
    font-weight: bold;
  }

  .view-files-button {
    padding: 15px 23px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #ADD9E6;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: bold;
  }
  
  .upload-button.disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  
  .file-name {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .progress-container {
    margin-top: 10px;
    text-align: left;
  }
  
  .progress-bar {
    height: 10px;
    border-radius: 5px;
    background-color: #B8D8E2;
  }
  
  .upload-result {
    margin-top: 20px;
    color: #2b88d8;
  }
  
  .hidden-input {
    display: none;
  }

  .logout-button {
    position: absolute;
    top: 25px;
    left: 20px;
    background-color: #d9534f;  
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .logout-button:hover {
    background-color: #c9302c;  
    transform: scale(1.05);
  }
  
  .logout-button:active {
    background-color: #ac2925;  
    transform: scale(1);
  }
  

  